.logo{
    width: 50px;
    border-radius: 100%;
}

.category_list{
    display: flex;
    gap: 7px;
    list-style: none;
    padding: 0%;
}

.category_list a{
    text-decoration: none;
    color: gray;
}

.footer{
    min-height: 80px;
}

.column-x {
    display: flex;
    flex-wrap: wrap; /* Позволяет переносить карточки на следующую строку, если не хватает места */
    gap: 16px; /* Расстояние между карточками */
}

.card{
    flex: 1 1 calc(33.33% - 16px); /* Каждая карточка занимает треть ширины */
    box-sizing: border-box; /* Учитываем отступы и границы */
}

